/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */


.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
    align-content:center;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.contaner{
    border-top:50px;
    margin-top:50px;
    padding-top:50px;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -50px;
    margin-right: -50px;
}
.col-md-1{
    width: 5%;
}
.col-md-3{
    width: 25%;
    text-align:justify;
}
.col-md-6 {
    width: 45%;
}
.col-md-10{
    width:85%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
