/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Carousel */
.imagebat {
    width: 100%;
}
    .imagebat img {
        align-content: center;
        width: 1170px;
        height: 600px;
    }

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.header {
    margin-top: 25px;
    border-right: 20px;
    border-left: 20px;
    border-color: rgb(139, 180, 21);
    border-style: dashed;
    padding-top: 10px;
    align-items: center;
}
.header p{
    margin-left:10px;
    margin-right:10px;
    text-align:justify;
}
.battlerow1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -50px;
    margin-right: -100px;
}
.battlecolmd1{
    width: 5%;
}
.battlecolmd3{
    width: 25%;
    margin-top:20px;
    margin-bottom:10px;
    margin-left:20px;
    text-align:justify;
}
.battlecolmd6 {
    width: 45%;
}
.battlecolmd10{
    width:85%;
}
.battlerow2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 20px;
    border-left: 20px;
    margin-left: -100px;
    margin-right: -100px;
    border-color:rgb(139, 180, 21);
    border-style:dashed;
}
.footer{
    align-content:center;
    margin-left:310px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
